/* ---------------------------PAGE SERVICE----------------------------- */
.pageService{
    background-color: #F6F6FF;
    
   
}
#pageServiceTit{

    padding: 65px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items:center;


}
.pageService h2{
    width: 1120px;
    margin: 0;
    line-height: 75px;


}
.pageService p{
    display: flex;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #4A4E6D;
    text-align: justify;

}

.divPageService{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;

}
#text_1{
    flex-direction: column;
    width: 482px;
    
}
#text_1 p{
    height: 360px;
}
#fale_conosco h3{
    margin-bottom: 0;
    line-height: 37.5px;
}
#fale_conosco{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 25px;
    color: white;
    background-color: #9866EB;
    border-radius: 16px;
    width: 490px;
    height: 590px;
    align-items: center;
}

#fale_conosco p{
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin-top: 0;
    padding: 0;
    line-height: 30px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
}
input{
    width: 370px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #F8F1FF;
    /* gap: px; */
}
::placeholder{
    color: #00000033;
    opacity: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    
}
#feedback{
    height: 119px;
    
}

#buttonSubmit{
    width: 374px;
    height: 64px;
    border: none;
    border-radius: 11.37px;
    background-color: white;
    font-size: 19.49px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: #0F147F;
    text-align: center;
}

/* align-items: center; /fica no centro vertical/
  /* justify-content: center; fica no centro horizontal */